$secondary: #546ADC;
@include media-breakpoint-up(sm) {
.container{
    flex-flow: column wrap
}
}
@include media-breakpoint-up(md) {
    .container{
        flex-flow: column wrap
    } 
    
}

@import "../node_modules/bootstrap/scss/bootstrap";